:root {
  --brand-color: #212121;
  --background-color: #ffffff;
  --background-color2: #2f303a;

  --background-color3: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.web {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #000000;
}
.webstudio2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #ffffff;
}
.link {
  text-decoration: none;
}
.mainsection {
  background-color: var(--background-color);
  /* position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px; */
}
.ordersection {
  background-color: var(--background-color2);
  /* position: absolute;   
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px; */
}
.section {
  background-color: var(--background-color);
}
.whatwedosection {
  background-color: var(--background-color);
}
.teamsection {
  background-color: var(--background-color3);
}
.contactsection {
  background-color: var(--background-color2);
}
.movementlinks a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #212121;
}
.movementlinks li {
  list-style-type: none;
}
.movementlinks a:hover {
  color: #2196f3;
}
.contacts a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts address {
  font-size: 14px;
  line-height: 146%;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.contacts li {
  list-style-type: none;
}
.contacts a:hover {
  color: #2196f3;
}
.ordersection h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.ordersection button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.loremipsum h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.loremipsum p {
  font-size: 14px;
  line-height: 146%;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.loremipsum li {
  list-style-type: none;
}
.whatwedo {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
}
.pictureswhatwedo li {
  list-style-type: none;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
}
.teamdescription h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.teamdescription p {
  font-size: 16px;
  line-height: 100%;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.teamdescription li {
  list-style-type: none;
}
.portfoliobuttons button {
  height: 38px;
  left: 639px;
  top: 174px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
.portfoliobuttons li {
  list-style-type: none;
}
.portfoliobuttons button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.projectlist li {
  list-style-type: none;
}
.projectlist h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 171%;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.projectlist p {
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}
